<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show massage</title>
</head>
<body>
  <h2>水族館　データページ</h2>
  <p><%= mes %></p>
  <a href="/db">AQへのリンク:水槽の詳細ページ</a><br>
  <a href="/public/test.html">test.htmlへのリンク</a><br>
  <a href="/public/input01.html">魚の匹数が多い順（少ない順）に泳いでいるエリア番号を表示する</a><br>
  <a href="/public/insert.html">新しい県を登録する（app6.jsを起動してからクリックしてください）</a>
</body>
</html>